@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --primary: #ffffff;
  --secondary: #212429;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 16px 32px;
  margin: 0 auto;
  max-width: 1280px;
}

/* Barra de navegación */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 32px;
  max-width: 100%;
}

.navbar-1 img, .navbar-3 img{
max-width: 24px;
margin-right: 20px;
}

.navbar-3 img {
  margin-left: 20px;
}

.navbar-2 {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-right: 25px;
}

hr {
    margin-bottom: 30px;
    max-width: 96%;
}

/* Apartado con imagenes */

h2 {
  font-size: 32px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  max-width: 100%;
  margin-bottom: 30px;
}

.container {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.box .details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  max-width: 70%;
}

.title {
  font-size: 14px;
}

.price {
  font-size: 14px;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 96%;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer img {
  background-color: var(--primary);
  max-width: 20%;
  border-radius: 22px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: auto;
}

.icon {
  display: flex;
  align-items: center;
  flex: 1;
}
